
<!DOCTYPE html>
<html>

<head>
	<title>
    Remote Jobs
  </title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>
    <h1>Remote Jobs</h1>
    <h3>219 python jobs found.</h3>
    <h5><a href="/export?term=python">Export to CSV</a></h5>
    <h6><a href="/">&larr; Go back</a></h6>
  </header>
  <main>
    
      <div>
        <h3>Software Architect - Database And Storage Infrastructure</h3>
        <h4>Ockam</h4>
        <a href="https://stackoverflow.com/jobs/371619/" target="_blank">Apply</a>
      </div>
      <hr />
    
      <div>
        <h3>Backend Software Engineer (Node.js) - Remote</h3>
        <h4>SemanticBits</h4>
        <a href="https://stackoverflow.com/jobs/380115/" target="_blank">Apply</a>
      </div>
      <hr />
    
  </main>
</body>

</html>