
<!DOCTYPE html>
<html>

<head>
	<title>
    Reddit Reader
  </title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>
    <h1><a href="/">Reddit Reader</a></h1>
    <h3>Reading: {% for reddit in reddit_item %}r/{{reddit}}  {% endfor %}   </h3>
  </header>
  <main>
    {% for card in reddit_list %}
      <div>
          <h3><a href="https://reddit.com{{card.get('url')}}" target="_blank">{{card.get('title')}}</a></h3>
          {% if card.get('upvote') is float %}
          <h4>{{card.get('upvote')/1000}}k upvotes ·  r/{{card.get('subreddit')}}</h4>
          {% else %}
          <h4>{{card.get('upvote')}} upvotes ·  r/{{card.get('subreddit')}}</h4>
          {% endif %}
        <hr />
      </div>
    {% endfor %}
  </main>
</body>

</html>